body {
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
      background: #f1f3f7;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

.login-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 300px;
  text-align: center;
}

.login-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #16a085;
}

#msgErro {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 10px;
}

